body {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    background-image: url("tlo.png");
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    padding: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #00000028;
}

#logo {
    font-size: 2em;
    padding: 20px;
    float: left;
}

#logo a {
    text-decoration: none;
    color: black;
}

#logo a:hover {
    color: #1ea5ceb7;
}

#logix {
    background-color: rgb(84, 90, 99);
    color: white;
    font-size: 35px;
    margin-right: 5px;
}

.navi {
    display: flex;
    justify-content: right;
}

a {
    color: black;
    opacity: 0.8;
   
    outline: 3;
   
    text-decoration: none;
   
}

.nav-item {
    display: flex;
   
    align-items: center;
   
    justify-content: center;
   
    border-radius: 100%;
   
    border: solid 1px black;
   
    opacity: 0.8;
    width: 30px;
   
    height: 30px;
   
    margin-top: 30px;
    margin-left: 10px;
}

.nav-item a:hover {
    color: #1ea5ceb7;
}

.nav-item:hover {
    border: solid 1px #1ea5ceb7;
}

.nav {
    width: 500px;
    padding: 10px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

ol {
    list-style-type: none;
    display: inline-block;
    line-height: 200%;
    text-align: center;
}

ol a {
    text-decoration: none;
    display: block;
    color: black;
}

ol>li {
    float: left;
    width: 100px;
    height: 20px;
}

ol>li:hover>a {
    color: #17a32eb7;
}

.bg {
    height: 400px;
    background-image: url("bg.jpg");
    width: 100%;
}

.phone:hover {
   filter: contrast(1.2);
   cursor: pointer;
}

.phone {
    position: relative;
    z-index: 100;
    top: -30px;
    float: left;
}

#container {
    display: grid;
    grid-template-rows: auto 50px 1fr;
    grid-gap: 20px;
}

.callout {
    grid-row: 1/2;
    text-align: center;
    margin-top: 30px;
}

#buttonC {
    grid-row: 2/3;
    align-content: start;
    background-color: rgba(23, 167, 23, 0.678);
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
    padding: 10px;
    width: 250px;
    height: 20px;
}

#buttonC:hover {
    opacity: 0.8;
    cursor: pointer;
}

#vido {
    color: white;
    text-align: justify;
    padding: 20px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.486);
    font-size: 14px;
    padding: 20px;
}

#vido a {
    color: white;
    outline: 0;
    text-decoration: none;
}

#vido a:hover {
    color: #242222ee;
}

#playb {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    background-color: lightgrey;
    font-size: 14px;
    text-align: justify;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

#playb p {
    padding: 20px;
    width: 700px;
}

#playb img:hover {
    opacity: 0.7;
    cursor: pointer;
}

#playb a {
    color: white;
    outline: 0;
    text-decoration: none;
}

#playb a:hover {
    color: #242222ee;
}

#foot {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#foot a {
    color: black;
    outline: 0;
    text-decoration: none;
}

#foot a:hover {
    color: #242222ee;
}